.git/
.github/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

.env
.env.*
.DS_Store
app/.DS_Store
data/.DS_Store

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

README.md
capture.png
tests/
